@model TblAdmin
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Admin Ekle</h2>
<br />
<form asp-action="AdminEkle" asp-controller="Admin" method="post">
    <div>
        <label asp-for="KullaniciAdi" class="form-label">Kullanıcı Adı</label>
        <input asp-for="KullaniciAdi" class="form-control" placeholder="Kullanıcı Adı Giriniz.." />
    </div>
    <br />
    <div>
        <label asp-for="Sifre" class="form-label">Şifre</label>
        <input asp-for="Sifre" class="form-control" placeholder="Şifre Giriniz.." />
    </div>
    <br />
    <button type="submit" class="btn btn-success">Kaydet</button>
</form>

