@model List<TblAdmin>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Admin Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Admin ID</th>
        <th>Kullanıcı Adı</th>
        <th style="width: 125px">Düzenle</th>
        <th style="width: 90px">Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.KullaniciAdi</td>
            <td>
                <a href="/Admin/AdminGetir/@item.Id" class="btn btn-warning"> <i class="fas fa-pencil-alt"></i> Düzenle</a>
            </td>
            <td>
                <a href="/Admin/AdminSil/@item.Id" class="btn btn-danger"> <i class="fas fa-trash"></i> Sil</a>
            </td>
        </tr>
    }
</table>
<a href="/Admin/AdminEkle/" class="btn btn-primary"> Yeni Admin Ekle</a>
