@model List<TblHobiler>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Hobi Düzenleme</h2>
<br />
<form asp-action="Index" asp-controller="Hobi" method="post">
    @foreach (var item in Model)
    {
        <input type="hidden" name="Id" value="@item.Id" />
        <label>Açıklama</label>
        <textarea class="form-control" rows="5" name="Aciklama1"> @item.Aciklama1</textarea>
        <br />
        <label>Açıklama 2</label>
        <textarea class="form-control" rows="5" name="Aciklama2"> @item.Aciklama2 </textarea>
        <br />
        <button href="/Hobi/Index/@item" type="submit" class="btn btn-primary">Güncelle</button>
        <br />
        <br />
    }
</form>
